.css-1i9wt8r-MuiCardContent-root:last-child {
  padding: 0;
}
.border-radious-2.MuiBox-root.css-1ldespi img {
  border-radius: 20px;
}
.blog-details {
  font-size: 120%;
}
.blog-details img {
  width: 100%;
}
.blog-details a {
  color: #ff6464;
}
.blog-details li {
  margin: 6px 0;
}
